/*this is my navigation bar. I gave it a little bit of color and some spacing */
.nav{
    text-align: center;
    border: solid;
    background-color:lightgoldenrodyellow
}

        .nav li {
            display: inline-block;
            font-size: 20px;
            padding: 5px;
            margin: 20px;
        }
/*this class is for all my page titles. simple border and centered*/
.pageTitle {
    text-align: center;
    border: solid;
    align-content: center;
}
/*this part took me a little longer to figure out how to get three boxes next to each other*/
#container {
    display: flex;
    text-align: center;
    font-size: large;
}

        #container div {
            border: solid;
            margin: 20px;
        }

/*this class is for all of my images to be centered and spaced similarly throughout the website*/
.image {
text-align: center;
letter-spacing: 100px;
margin: 20px;

}

/*put a border around pet list and made their names bold*/
#animals {
     border: solid;
     margin: 20px;
    }

        #animals li {
            font-weight: bold;
        }
/*makes the list flex instead of block*/
#cars {
    display: flex;
    width: 300px;
}



/*paragraph text, bordered*/
#pageText {
    border: solid;
    margin: 20px;
    padding: 20px;
}
/*colored my table, and border around each value*/
td {
    border: 1px solid;
    padding: 5px;
    font-size: large;
    background-color: lightblue;
}

th {
    border: 1px solid;
    padding: 5px;
    font-size: large;
    background-color: aquamarine;
}
/*groups my form and table together*/
.box {
    display: block;
    border: solid;
    margin: 20px;
    padding: 30px;
  
}
